* {
  margin: 0;
  padding: 0;
}

p {
  font-weight: 500;
  font-size: 18px;
}

h3 {
  margin-bottom: 20px;
}

.wrapper {
  margin-top: 30px;
  width: 800px;
}

.wrapper-info {
  margin: 45px 25px;
  width: 800px;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.wrapper li {
   list-style: none;
   font-size: 14pt;
}
